<li class="message-preview">
    <a href="#">
        <div class="media">
            <span class="pull-left">
                <img class="media-object" src="http://placehold.it/50x50" alt="">
            </span>
            <div class="media-body">
                <h5 class="media-heading"><strong><%= notification.title %></strong>
                </h5>
                <p class="small text-muted"><i class="fa fa-clock-o"></i> <%= notification.created_at.to_s(:long) %></p>
                <p><%= notification.message %></p>
            </div>
        </div>
    </a>
</li>