<% provide(:button_text, 'Update my account') %>

<h1>Update your profile</h1>
<div class="row">
  <div class="col-xs-6 ">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" rel="noopener" target="_blank">change</a>
    </div>
  </div>
  <div class="col-xs-6 ">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" rel="noopener" target="_blank">change</a>
    </div>
  </div>
</div>
