<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Devolve ae! <small>Todos as coisas emprestadas, num sรณ lugar</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>  <%= yield :subtitle %>
            </li>
        </ol>
    </div>
</div>